<h1 class="title"><%= @hackathon.name %></h1>
<h2 class="subtitle"><%= @hackathon.description %></h2>

<% content_for :hackathon_submenu do %>
  <%= link_to @hackathon.name, admin_hackathon_path(@hackathon), class: 'has-text-weight-medium' %>
  <ul>
    <li><%= active_link_to "View", admin_hackathon_path(@hackathon), active: :exclusive, class_active: 'is-active' %></li>
    <li><%= active_link_to "Edit", edit_admin_hackathon_path(@hackathon), active: :exclusive, class_active: 'is-active' %></li>
  </ul>
<% end %>
