<div class="box">
  <h1 class="title has-text-black">Log in</h1>
  <% if Rails.configuration.registrar.dig(:auth, :log_in_subtitle) %>
    <h4 class="subtitle has-text-black"><%= Rails.configuration.registrar["auth"]["log_in_subtitle"] %></h4>
  <% end %>
  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="field">
      <%= f.label :email, class: "label" %>
      <div class="control">
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "input", placeholder: "e.g. janesmith@example.com" %>
      </div>
    </div>

    <div class="field">
      <%= f.label :password, class: "label" %>
      <div class="control">
        <%= f.password_field :password, autocomplete: "current-password", class: "input", placeholder: "Your secure password." %>
      </div>
      <%- if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations' %>
        <%= link_to "Forgot your password? Recover it now.", new_password_path(resource_name), class: "help" %>
      <% end %>
    </div>

    <% if devise_mapping.rememberable? %>
      <div class="field">
        <%= f.label :remember_me, class: "checkbox" do %>
          <%= f.check_box :remember_me, class: "checkbox" %>
          Remember me
        <% end %>
      </div>
    <% end %>

    <div class="actions">
      <%= f.submit "Log in", class: "button is-info" %>
    </div>
  <% end %>

</div>
<div class="box">
  <%= render "devise/shared/links" %>
</div>