<!DOCTYPE html>
<html>
  <head>
    <title>Registrar</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="has-navbar-fixed-top">
  
    <nav class="navbar is-fixed-top is-dark" role="navigation" aria-label="main navigation" data-controller="main-nav">
      <div class="container">
        <div class="navbar-brand">
          <%= link_to Rails.configuration.registrar["application_name"], root_path, class: 'navbar-item' %>

          <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarContentHolder" data-action="click->main-nav#toggle">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
          </a>
        </div>

        <div id="navbarContentHolder" class="navbar-menu" data-target="main-nav.menu">
          <div class="navbar-end">
            <%= active_link_to 'Home', root_path, active: :exclusive, class: 'navbar-item', class_active: 'is-active' %>
            <% if current_user.admin? %>
              <%= active_link_to 'Admin', admin_root_path, active: :inclusive, class: 'navbar-item', class_active: 'is-active' %>
            <% end %>
            <div class="navbar-item has-dropdown is-hoverable">
              <a class="navbar-link">Hi there, <%= current_user.first_name %>!</a>
              <div class="navbar-dropdown">
                <%= link_to "Logout", destroy_user_session_path, method: :delete, class: "navbar-item" %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </nav>
    <div class="container">
      <%= render "layouts/flash_handler" %>
    </div>
    <%= content_for?(:content) ? yield(:content) : yield %>
    <footer class="footer">
      <div class="content">
        Registrar by <a href="https://samw.dev">Sam Wight</a>. This source code is licensed under the Apache License 2.0.
      </div>
    </footer>
  </body>
</html>
