<!DOCTYPE html>
<html>
  <head>
    <title>Registrar</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <section class="hero is-primary is-bold is-fullheight">
      <div class="hero-body">
        <div class="container">
          <div class="columns is-vcentered">
            <div class="column">
              <h1 class="title"><%= Rails.configuration.registrar["application_name"] %></h1>
              <% if Rails.configuration.registrar["application_subtitle"] %>
                <h2 class="subtitle"><%= Rails.configuration.registrar["application_subtitle"] %></h1>
              <% end %>
            </div>
            <div class="column">
              <% if !flash.empty? %>
                <% flash.each do |key, value| %>
                  <div class="box <%= key == "alert" ? "has-background-danger" : "has-background-primary" %>">
                    <div class="content">
                      <p class="has-text-white"><%= value %></p>
                    </div>
                  </div>
                <% end %>
              <% end %>
              <%= yield %>
            </div>
          </div>
        </div>
      </div>
    </section>
  </body>
</html>
